<body>

    <!-- !PAGE CONTENT! -->
    <div class="w3-content" style="max-width:1500px">

        <!-- Header -->
        <header class="w3-container w3-xlarge w3-padding-24">
            <login></login>
            <a href="#" onclick="document.getElementById('id01').style.display='block'" class="w3-left w3-button w3-white">Login</a>
            <a href="#import" class="w3-right w3-button w3-white">Import</a>
        </header>

        <!-- Photo Grid -->
        <div class="w3-row">
            <div class="w3-half">
                <form style="margin:auto;width:60%" action="/action_page.php" target="_blank">
                    <p>Just me, myself and I, exploring the universe of unknownment. I have a heart of love and an interest of lorem ipsum and mauris neque quam blog. I want to share my world with you. Praesent tincidunt sed tellus ut rutrum. Sed vitae justo
                        condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla. Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
                    <p class="w3-large w3-text-pink">Do not hesitate to contact me!</p>
                    <div class="w3-section">
                        <label><b>Word</b></label>
                        <input class="w3-input w3-border" type="text" required name="Word">
                    </div>
                    <div class="w3-section">
                        <label><b>Language</b></label>
                        <select class="w3-select" name="language">
  <option value="" disabled selected>Choose your option</option>
  <option value="1">Option 1</option>
  <option value="2">Option 2</option>
  <option value="3">Option 3</option>
</select>
                    </div>

                    <button type="submit" class="w3-button w3-block w3-dark-grey">Translate</button>
                </form>
                <!--<img src="/assets/top.jpg" style="width:100%">
                <img src="/assets/o-COMPUTER-TRANSLATE-facebook.jpg" style="width:100%">-->
            </div>
            <div class="w3-half">
                <img src="/assets/22-12-14_Translation.jpg" style="width:100%">
                <img src="/assets/Speech.jpg" style="width:100%">
            </div>
        </div>

        <!-- End Page Content -->
    </div>
</body>

<!-- Footer / About Section -->
<footer class="w3-light-grey w3-padding-64 w3-center" id="import">
    <h2>Import Word</h2>
    <!--<img src="/assets/download.jpg" class="w3-image w3-padding-32" width="300" height="300">-->
    <form style="margin:auto;width:60%" action="/action_page.php" target="_blank">
        <p>Just me, myself and I, exploring the universe of unknownment. I have a heart of love and an interest of lorem ipsum and mauris neque quam blog. I want to share my world with you. Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum,
            porta lectus vitae, ultricies congue gravida diam non fringilla. Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
        <p class="w3-large w3-text-pink">Do not hesitate to contact me!</p>
        <div class="w3-section">
            <label><b>Word</b></label>
            <input class="w3-input w3-border" type="text" required name="Word">
        </div>
        <div class="w3-section">
            <label><b>Language</b></label>
            <select class="w3-select" name="language">
  <option value="" disabled selected>Choose your option</option>
  <option value="1">Option 1</option>
  <option value="2">Option 2</option>
  <option value="3">Option 3</option>
</select>
        </div>
        <div class="w3-section">
            <label><b>Translation</b></label>
            <input class="w3-input w3-border" required name="translation">
        </div>
        <button type="submit" class="w3-button w3-block w3-dark-grey">Send</button>
    </form>
    <br>
    <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank" class="w3-hover-text-green">w3.css</a></p>
</footer>